#h1{
    text-align: center;
    color: white;
}
body{
    background-color: #111111;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#111119 ;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a {
    padding:8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover{
    color: red;

}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}
#span{
    position: fixed;
    right: 0;
    top: 0;


}
#mySidenav{

    text-align: right;
}

@media screen and (max-height: 450px) {
    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}}
h2{
    color:white;
    font-size: 30px;
    padding-top: 1000px;
}
#picture{
    position: static;
    width: 640px;
    height: 600px;
    float: left;
    display: block;
}
/*#Om\ Mig{

}*/
#Personlig_Info{
    position: relative;
    padding-left: 10px;
    left: 8px;
    color: white;
}

#Opgaver{
    position: relative;
    top:200px;

}
#TestH1{
    position: absolute;
    text-align: center;
    left: 500px;
    margin-top: 50px;
    z-index: 0;
}
#C-Sharp_img{
    margin-top: 500px;
    width: 300px;

}
#card1{
    position: relative;
    border-radius: 15px 15px 15px 15px;
    background-color: silver;
    margin-right: 10px;
    transition: all .4s ease-in-out;
}

#card2{
    position: relative;
    float: right;
    border-radius: 15px 15px 15px 15px;
    background-color: silver;
    margin-right: 10px;
    top: 10px;
    transition: all .4s ease-in-out;
}
#card3{
    position: relative;
    float: right;
    border-radius: 15px 15px 15px 15px;
    background-color: silver;
    margin-right: 10px;
    top: 20px;
    transition: all .4s ease-in-out;
}
#card1:hover,#card2:hover,#card3:hover{
    left: -40px;
}
#flex-container{
    margin-top: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
.col-sm-3{
    left: 50px;
}
/*top: 160px;
    left: 450px;
*/
#cv_billede_Om-mig{display: flex;
    width: 300px;
    float: left;
}
#OmMigDiv{
    float: right;
}
.row{
    float: right;
    width: 85%;
}
#om-mig_Header{
    padding-left: 15px;
}
#HeaderParagraph{
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 500px;
    z-index: 0;
    bottom: 580px;
}
#container{
    position: relative;
    text-align: center;
}
#Home_Picture{
    margin-top: 135px;
}
#Integer{
    color:rgba(33,20,152,255);;
}
#stringLabel{
    color: rgba(33,20,152,255);
}
#stringArray{
    position: relative;
    color: rgba(33,20,152,255);
}
#Info{
    font-size: 20px;
    margin-top: 150px;
    width: 100%;
}
#Header2{
    position: relative;
    justify-content: center;
    text-align: center;
}
.InfoCode{
    position: relative;
    left: 200px;
   
}
#Alder{
    position: relative;
    left: 200px;
}
#Stilling{position: relative;
    left: 200px;
}
#StillingsArray{position: relative;
    left: 200px;
}
#RealLanguages{position: relative;
    left: 200px;
}
#navId{
    position: fixed;
    top:0;
    overflow: hidden;

}
@media screen and (max-width:1024px){
    #Home_Picture{
   margin-left: 50%;
    
    }
    #TestH1{
   text-align: center;
   width: 812px;
   left: -5px;
margin-left: 20px;
    }
    #HeaderParagraph{
    width: 812px;
    text-align: center;
    left: -280px;                      
    }
    .InfoCode{
        width: 812px;
        font-size: 18px;
    }
    #Info{
        margin-left: -160px;
    }
    #Header2{
        width: 812px;
  left: 50%;
    }
    #Comment1{
      margin-left: -200px;
    }
    #Comment2{
        margin-left: -90px;
      }
      #Comment3{
        margin-left: -70px;
      }
      #TimeLine{
width: 812px;
align-self: center;
       margin-left: -40px;
       
      }
     #flex-container{
         width: 812px;
         position: relative;
    left: 40px;
        
     }

    
}
#TimeLine{
    margin-top: 500px;

}
.card-body_left-side{
    position: relative;
    background-color: silver;
  margin-left: -280px;
  width: 250px;
  border-radius: 15px 15px 15px 15px;
}
.card-body_right-side{
    position: relative;
    background-color: silver;
    margin-left: 30px;
    width: 400px;
    border-radius: 15px 15px 15px 15px;
}
#Projects_Header{
  position: relative;
  bottom: 100px;
  right: 845px;
}


